@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap");


@media (max-width: 3840px) {
  .work {
    width: 40%;
    padding-bottom: 3rem;
  }
  
  .work img {
    width: 100%;
  }
}

@media (max-width: 2880px) {
  .work {
    padding-bottom: 3rem;
  }
  
  .work img {
    width: 100%;
  }
}


@media (max-width: 1920px) {
  .work {
    padding-bottom: 3rem;
  }
  
  .work img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .work {
    padding-bottom: 3rem;
  }
  
  .work img {
    width: 100%;
  }
}

template {
  font-family: "JetBrains Mono";
  font-size: 11pt;
}

div {
  background-color: black;
  font-size: 11pt;
  font-family: "JetBrains Mono";
}

body {
  overscroll-behavior-y: none;
}

.blink {
  -webkit-animation: blink 0.25s ease-in-out infinite alternate;
  animation: blink 0.25s ease-in-out infinite alternate;
}
@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  font-family: "JetBrains Mono";
  font-weight: 300;
  display: block;
  font-size: 1rem;
  color: #ffffff;
  background-color: black;
  letter-spacing: 0.25;
  padding-bottom: 4rem;
}

.about img {
  width: 500px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about p {
  font-size: 2.8rem;
  line-height: 6rem;
}

.about a {
  text-decoration: none;
  color: #ffffff;
  background-color: #ffffff;
}

.about summary {
  font-size: 2.8rem;
  line-height: 6rem;
  letter-spacing: 0.25;
  cursor: pointer;
  outline: none;
}

.about a:visited {
  text-decoration: none;
  color: #ffffff;
  background-color: #ffffff;
}

.about a:hover {
  color: #ffffff;
  background-color: #000000;
  font-style: italic;
}

.about details:focus {
  outline: none;
}

.title p {
  color: #ffffff;
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 500;
}

.work {
  width: 100%;
}

.work a:active {
  color: #ffffff;
}

.work a:hover {
  background-color: #000000;
  font-style: italic;
}

iframe {
  padding-bottom: 4rem;
}

.discription {
  padding-bottom: 4rem;
}

.discription br {
  display: block;
  content: "";
  padding-bottom: 2rem;
}

.discription p {
  font-size: 2.8rem;
  line-height: 6rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  color: #ffffff;
}

.discription a {
  text-decoration: none;
  background-color: #ffffff;
  color: #ffffff;
}

.discription a:active {
  color: #ffffff;
}

.discription a:hover {
  background-color: #000000;
  font-style: italic;
}

.caption p {
  font-size: 2.8rem;
  line-height: 6rem;
  letter-spacing: 0.25rem;
  font-weight: 300;
  color: #ffffff;
}

.caption br {
  display: block;
  content: "";
  padding-bottom: 0.5rem;
}

.caption a {
  text-decoration: none;
  background-color: #ffffff;
  color: #ffffff;
}

.caption a:active {
  color: #ffffff;
}

.caption a:hover {
  background-color: #000000;
  font-style: italic;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}


@media all and (max-width: 768px) {
  p {
    font-family: "JetBrains Mono";
    font-size: 11pt;
  }

  .container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about {
    padding-bottom: 1rem;
  }

  .about img {
    width: 80%;
  }

  .about p {
    line-height: 2rem;
    font-size: 1rem;
  }

  .about summary {
    line-height: 2rem;
    font-size: 1rem;
  }

  .title {
    width: 100%;
  }

  .title p {
    line-height: 2rem;
    font-size: 1rem;
  }

  .discription {
    padding-bottom: 1rem;
  }

  .discription p {
    line-height: 2rem;
    font-size: 1rem;
  }

  .discription br {
    padding-bottom: 1rem;
  }

  .caption {
    padding-bottom: 1rem;
  }

  .caption p {
    line-height: 2rem;
    font-size: 1rem;
  }

  .caption br {
    padding-bottom: 0.5rem;
  }

  .work img {
    width: 100%;
  }

}